* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.delimiter {
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-height: 100vh;
}

.form-container {
    width: 300px;
    margin: 15% auto;
    position: relative;
    z-index: 2;
}

/* Overlay to image background */

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #0967c5;
    opacity: .6;
    overflow: hidden;
}

body {
    overflow: hidden;
}

.links a:hover {
    text-decoration: none;
    color: #00B050 !important;
}